html {
    background-color: #126173;
}

body {
    background-color: #fafafa;
    color: #0c0d0d;
    width: 50em;
    margin: 0 auto;
    padding: 1.0em;
    border-radius: 1.0em;
}

h1 {
    color: #126173;
    
}
h2, h3, h4, h5 {
    color: #498ba6;
}

a {
    color: #027373;
}

a:visited {
    color: #498ba6;
}

a:hover {
    color: #126173;
}

header {

}